# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ruff Cache
.ruff_cache/

# Editor
.idea
.vscode

# Data
**/.benchmarks

# Compiled object detection model
*_openvino_model/

rplidar.py
