airsim==1.8.1
fastapi==0.110.0
inputs==0.5
matplotlib==3.8.3
numpy==1.26.4
opencv-python==4.9.0.80
openvino==2024.0.0
packaging==23.2
python-can==4.3.1
python-multipart==0.0.9
typing~=3.7.4.3
matplotlib~=3.8.3
scipy==1.12.0
simple_pid==2.0.0
pytest==8.1.1
pytest-benchmark==4.0.0
omegaconf==2.3.0
ultralytics==8.1.30
uvicorn==0.29.0
msgpack-rpc-python==0.4.1
websockets == 12.0
starlette == 0.36.3
rplidar-roboticia == 0.9.5
